@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1 text-center">Welcome to the Sweet Shoppe!</h1>

<br />
<div class="container">
    <div class="row">
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/images/colorful-1284475_1280.jpg" class="d-block mx-auto" alt="colorful candy">
                </div>
                <div class="carousel-item">
                    <img src="~/images/candy-50838_1280.jpg" class="d-block mx-auto" alt="colorful candy">
                </div>
                <div class="carousel-item">
                    <img src="~/images/cupcakes-1133146_1280.jpg" class="d-block mx-auto" alt="colorful candy">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="display-6 text-center">
    <p></p>
    <p>Check out our selection below!</p>
</div>
<br />
<div class="container">
    <div class="row text-center display-3">
        <div class="col-6">
            Candy
        </div>
        <div class="col-6">
            Baked Goods
        </div>
    </div>
    <div class="row text-center display-5">
        <div class="col-4">
            Gift Baskets
        </div>
        <div class="col-4">
            Novelty Items
        </div>
        <div class="col-4">
            Schedule an event!
        </div>
    </div>
</div>
