@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1 text-center">Welcome to the Sweet Shoppe!</h1>

<br />



<div class="display-6 text-center">
<p></p>
<p>Check out our selection below!</p>
</div>
<br />
<div class="container">
    <div class="row text-center display-3">
        <div class="col-6">
            Candy
        </div>
        <div class="col-6">
            Baked Goods
        </div>
    </div>
    <div class="row text-center display-5">
        <div class="col-4">
            Gift Baskets
        </div>
        <div class="col-4">
            Novelty Items
        </div>
        <div class="col-4">
            Schedlue an event!
        </div>
    </div>
</div>